@model Okurdostu.Web.Controllers.Api.Me.NeedsController.TitleModel
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "title-form" }))
{
    <div class="form-horizontal">
        <div class="form-group"> <div> <input class="form-control font-weight-bold" autocomplete="off" placeholder="Hedeflerim için bunlara ihtiyacım var" asp-for="Title" /> @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger font-weight-bold" }) </div></div>
        <div class="modal-footer pb-0 pt-1"> <button class="btn btn-outline-secondary rounded-custom font-weight-bold btn-block" data-dismiss="modal">Vazgeçtim</button> <input type="submit" value="Düzenle" class="btn btn-outline-purple rounded-custom w-100 font-weight-bold" /> </div>
    </div>
}
