body {
    width: 100%;
    height: 100%
}

h1 {
    font: 700 2.5rem/2.875rem Montserrat,sans-serif !important
}

h2 {
    font: 700 2.25rem/2.75rem Montserrat,sans-serif !important
}

h3 {
    font: 700 1.75rem/2.125rem Montserrat,sans-serif !important
}

h4 {
    font: 700 1.375rem/1.75rem Montserrat,sans-serif !important
}

h5 {
    font: 700 1.125rem/1.625rem Montserrat,sans-serif !important
}

h6 {
    font: 700 1rem/1.25rem Montserrat,sans-serif !important
}

.btn-purple {
    display: inline-block;
    padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
    border: .125rem solid #6c63ff;
    border-radius: 2rem;
    background-color: #6c63ff;
    color: #fff;
    font: 700 1rem/0 Montserrat,sans-serif;
    text-decoration: none;
    transition: all .2s
}

    .btn-purple:hover {
        background-color: transparent;
        color: #6c63ff;
        text-decoration: none
    }

.od {
    color: #6c63ff !important
}

a {
    color: #f1f1f8;
    text-decoration: none !important
}

    a:hover {
        text-decoration: none
    }

        a:hover.od {
            color: #4eaaff !important
        }

.bg-od {
    background-color: #3d3588 !important
}

.navbar-custom {
    background-color: #3d3588;
    box-shadow: 0 .0625rem .375rem 0 rgba(0,0,0,.1);
    font: 700 .75rem/2rem Montserrat,sans-serif;
    transition: all .2s
}

    .navbar-custom .navbar-brand.logo-image img {
        width: 113px;
        height: 34px;
        margin-bottom: 1px;
        -webkit-backface-visibility: hidden
    }

    .navbar-custom .navbar-brand.logo-text {
        font: 700 2.375rem/1.5rem Montserrat,sans-serif;
        color: #fff;
        letter-spacing: -.5px;
        text-decoration: none
    }

    .navbar-custom .navbar-nav {
        margin-top: .75rem
    }

    .navbar-custom .nav-item .nav-link {
        padding: 0 .75rem 0 .75rem;
        color: #fff;
        text-decoration: none;
        transition: all .2s ease
    }

        .navbar-custom .nav-item .nav-link.active, .navbar-custom .nav-item .nav-link:hover {
            color: #6c63ff
        }

.sidebar {
    margin-top: 1.2rem;
    padding: 0;
    background-color: transparent;
    position: fixed;
    height: auto;
    overflow: auto
}

    .sidebar a {
        margin-top: 3px;
        margin-bottom: 3px;
        font: 700 1.75rem/2.125rem Montserrat,sans-serif;
        border-radius: 50rem;
        font-size: 15px;
        display: block;
        color: #353738;
        padding: 4px;
        text-decoration: none
    }

        .sidebar a.active {
            color: #6c63ff;
            text-decoration: none
        }

        .sidebar a:hover {
            color: #6c63ff;
            text-decoration: none;
            background-color: #d4e1ff
        }

    .sidebar i {
        margin-left: 5px;
        font-size: 25px
    }

    .sidebar div.search {
        display: none
    }

div.content {
    margin-left: 160px;
    padding: 10px
}

@media screen and (max-width:1200px) {
    .sidebar {
        background-color: #f5f5f5;
        position: fixed !important;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem
    }

        .sidebar span {
            display: none
        }

        .sidebar i {
            margin: 3px;
            font-size: 28px
        }

    div.content {
        margin-left: 0;
        margin-bottom: 60px
    }
}

@media screen and (max-width:767px) {
    .sidebar div.search {
        display: block
    }
}

@media screen and (max-width:425px) {
    div.egitim h5 {
        font: 700 1.1rem/1.5rem Montserrat,sans-serif !important
    }

    div.egitim h6 {
        font: 700 .9rem/1.5rem Montserrat,sans-serif !important
    }

    div.egitim img {
        width: 75px !important
    }
}
@media screen and (max-width:390px) {
    div.egitim h5 {
        font: 700 1rem/1.5rem Montserrat,sans-serif !important
    }

    div.egitim h6 {
        font: 700 .8rem/1.15rem Montserrat,sans-serif !important
    }

    div.egitim img {
        width: 65px !important
    }
}

@media screen and (max-width:374px) {
    div.egitim h5 {
        font: 700 .9rem/1.5rem Montserrat,sans-serif !important
    }
}
@media screen and (max-width:345px) {
    div.egitim h5 {
        font: 700 .8rem/1.5rem Montserrat,sans-serif !important
    }
}
@media screen and (max-width:374px) {
    .sekme {
        font-size: 13.7px !important
    }
}

@media screen and (max-width:319px) {
    .sekme {
        font-size: 11.7px !important
    }
}

@media screen and (max-width:513px) {
    .msg-button {
        padding: 5px !important;
        display: block;
        width: 100%
    }

    .filter-button {
        padding: 5px !important;
        display: block;
        width: 100%
    }
}

.inner-addon {
    position: relative
}

    .inner-addon .icon {
        position: absolute;
        padding: 10px;
        pointer-events: none
    }

.left-addon .icon {
    left: 0
}

.right-addon .icon {
    right: 0
}

.left-addon input {
    padding-left: 30px
}

.right-addon input {
    padding-right: 30px
}

.fontrem1 {
    font-size: 1.2rem !important
}
