@model bool
@{
    Layout = null;
}
@if (Model == true)
{
    <h3 class="unlike mb-0 rounded-custom"> <i class="fas fa-heart"></i> </h3>
}
else
{
<h3 class="like mb-0 rounded-custom"> <i class="far fa-heart"></i> </h3>
}


