@model LoginModel
@{
    ViewData["Title"] = "Giriş yap | Okurdostu";
    Layout = "~/Views/Shared/_LayoutIntroduction.cshtml";
}
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <partial name="~/Views/Login/_PartialLoginForm.cshtml" />
            </div>
        </div>
    </div>
</header>


