
@{
    ViewData["Title"] = "Kaydol | Okurdostu";
    Layout = "~/Views/Shared/_LayoutIntroduction.cshtml";
}
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-11 mx-auto">
                <partial name="~/Views/SignUp/_PartialSignUpForm.cshtml" />
            </div>
        </div>
    </div>
</header>
