
@{
    ViewData["Title"] = "Kaydol | Okurdostu";
    Layout = "~/Views/Shared/_LayoutIntroduction.cshtml";
}
    <header id="header" class="ex-header"> <div class="container"> <div class="row"> <div class="col-md-10 col-xl-9 col-lg-8 mx-auto"> <partial name="~/Views/SignUp/_PartialSignUpForm.cshtml" /> </div></div></div></header>