@model Okurdostu.Data.Model.Need
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{ bool IsAuthenticatedUserEqualModelUser = false; }
@{
    if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
    {
        string AuthenticatedUserId = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
        if (AuthenticatedUserId == Model.UserId.ToString())
        {
            IsAuthenticatedUserEqualModelUser = true;
        }
    }
}
@{
    ViewData["Title"] = Model.Title + " @" + Model.User.Username + " | Okurdostu";
    ViewData["OGDescription"] = "Bir öğrencinin ihtiyaç kampanyası: " + Model.Title;
    ViewData["Description"] = "Bir öğrencinin ihtiyaç kampanyası: " + Model.Title;

    Layout = "~/Views/Shared/_LayoutOkurdostu.cshtml";
}
@if (!Model.IsSentForConfirmation && !Model.IsConfirmed && IsAuthenticatedUserEqualModelUser)
{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    @*
        Tamamlanmamış, onaylanma için gönderilmemiş.
        İşleme devam etmesi gerektiğini söyle
    *@
    <p class="font-weight-bold text-black-50 text-center">İkinci aşama</p>
    <div class="small">
        <p class="font-weight-bold text-black-50">
            Merhaba dostum.<br />
            İhtiyacınız olan hedefler için para toplamaya çok yakınsınız.<br />
            İlk başta şunları bilmelisiniz:
        </p>
        <p class="font-weight-bold text-black-50">
            1.İhtiyaç kampanyanız için 3 adet hedef belirleyebilirsiniz.<br />
            2.İhtiyaç kampanyanızı başlatmak için en az bir hedef belirlemelisiniz <br />
            3.İhtiyaç kampanyanıza hedef eklemek için biraz aşağıda ki kısmı kullanabilirsiniz <br />
            4.Bu sayfadayken, ihtiyaç kampayanızı (başlık, açıklama) düzenleyip, gözden geçirebilirsiniz.
        </p>
        <hr />
        <div class="text-center">
            <button class="btn btn-outline-primary rounded-custom font-weight-bold" href="" data-toggle="modal" data-target="#confirm" style="cursor:pointer;">
                <i class="fas fa-approval"></i> Onaylama
            </button>
            <span class="font-weight-bold text-black-50">
                <br />
                İhtiyaç kampanyanızı hazır olduğunu düşünüyorsanız artık her hangi bir hedef eklemek veya çıkarmak gibi bir kararsızlığınız yoksa onay için yollayabilirsiniz.
            </span>
        </div>
    </div>
    <hr />
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
            <div class="modal-content" style="background: transparent;">
                <div class="modal-body bg-light" style="border-radius: 25px;">
                    <h4 class="text-center text-black-50">
                        Onaylama
                    </h4>
                    <hr />
                    <div>
                        <p class="text-black-50 font-weight-bold text-md-left text-center">
                            Seçtiğiniz başlığa ve hedeflerinize son bir kez göz atıp onay için yollayabilirsiniz.
                        </p>
                        @using (Html.BeginForm("", "Need", FormMethod.Post))
                        {
                            @Html.Hidden("NeedId", Model.Id)
                            <button type="submit" class="btn btn-primary btn-block font-weight-bold rounded-custom">
                                Tamamdır, onay için yolla
                            </button>
                        }
                        <hr />
                        <button type="button" class="btn  btn-outline-secondary btn-block rounded-custom font-weight-bold" data-dismiss="modal">Vazgeçtim</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.IsSentForConfirmation && !Model.IsConfirmed && IsAuthenticatedUserEqualModelUser)
{
    <h4 class="text-center text-black-50">
        Tebrikler ! <br />
        Bu kampanyanız onaylanması için yollanmış.<br />
        En kısa zamanda sizi hiç tanımadığınız dostlarınız ile bir araya getireceğiz.
    </h4>
}
@if (Model.IsConfirmed || IsAuthenticatedUserEqualModelUser)
{
    <div class="font-weight-bold">
        <div>
            @if (IsAuthenticatedUserEqualModelUser && !Model.IsConfirmed)
            {
                <center>
                    <button class="btn btn-outline-purple rounded-custom w-75  mb-3 pt-1 pl-1 font-weight-bold" href="" data-toggle="modal" data-target="#edittitle" style="cursor:pointer;">
                        <i class="far fa-edit"></i> Başlığı düzenle
                    </button>
                </center>
                <div class="modal fade" id="edittitle" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content" style="background: transparent;">
                            <div class="modal-body bg-light" style="border-radius: 25px;">
                                <h3 class="font-weight-bold text-center text-black-50">
                                    Başlığı düzenleme
                                </h3>
                                <hr />
                                @await Component.InvokeAsync("EditNeedTitle", new { Id = Model.Id })
                            </div>

                        </div>
                    </div>
                </div>
            }
            <h5 class="text-center text-black-50">
                @Model.Title
            </h5>
        </div>
        <hr class="mb-1" />
        <div class="row">
            @if (Model.IsConfirmed == true)
            {
                <div class="col-xl-6 col-lg-6 col-md-6">
                    @Html.Partial("ViewNeedItem", Model)
                </div>
            }
            else
            {
                <div class="col-12">
                    @Html.Partial("ViewNeedItem", Model)
                </div>
            }
            <div class="col pl-xl-0 pl-lg-0 pl-md-0" @*style="pointer-events: none; opacity: 0.4;"*@>
                @{
                    //right panel
                }
            </div>
        </div>
        @if (Model.IsConfirmed == true)
        {
            <hr class="mb-1" />
            <div class="text-center">
                <div>
                    <h4>
                        Onaylanmış kampanya
                    </h4>
                    <p class="text-black-50 mb-1">Bu kampanyayı oluşturan öğrecinin, eğitim bilgileri e-devlet belgesi ile onaylanmıştır.</p>
                </div>
            </div>
            <hr class="mt-0" />
        }
        else
        {
            <hr />
        }
        @{
            //description supporters
        }
    </div>
}
else
{
    @:
    <p class="font-weight-bold text-warning mb-5 mt-5 text-center">
        Bu ihtiyaç kampanyası onaylanmamış, onaylanana kadar sadece ihtiyaç kampanyasını oluşturan kişi görebilir.
    </p>
}
