
@{
    ViewData["Title"] = "Sık sorulan sorular | Okurdostu";
    Layout = "~/Views/Shared/_LayoutIntroduction.cshtml";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    .accordion-section .panel-default > .panel-heading {
        border: 0;
        padding: 0;
    }

    .accordion-section .panel-default .panel-title a {
        display: block;
        font-size: 1.2rem;
    }

        .accordion-section .panel-default .panel-title a:after {
            font-family: 'FontAwesome';
            font-style: normal;
            font-size: 3rem;
            content: "\f106";
            color: #6c63ff;
            float: right;
            margin-top: -12px;
        }

        .accordion-section .panel-default .panel-title a.collapsed:after {
            content: "\f107";
        }

    .accordion-section .panel-default .panel-body {
        font-size: 1.1rem;
    }
</style>
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Sık sorulan sorular</h1>
            </div>
        </div>
    </div>
</header>
<div class="ex-basic-2">
    <div class="container">
        <section class="accordion-section clearfix mt-3">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading0">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse1">
                                Okurdostu öğrenciye para mı teslim ediyor ?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                        <div class="panel-body px-3 mb-4">
                            Okurdostu öğrenciye para teslim etmez. Öğrenci oluşturduğu ihtiyaçta ki toplanan parayı alamaz sadece oluşturduğu ihtiyaçta ki ürünü teslim alabilir.
                            <br /><br />
                            <p>Bu durum ihtiyaçlar için geçerlidir, şu anda var olmayan ama planlanana göre bir yurtdışı eğitimi için öğrencinin kendisi adına burs fonu açabilmesine olanak sağlanabilir, tabii ki bunu yapabilmesi için eğitimin kanıtlanması gerekliliği ve başka şartları olacaktır. </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading1">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                Okurdostu ürün mü satıyor ?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                        <div class="panel-body px-3 mb-4">
                            Okurdostu hiç bir ürün satışı yapmıyor, sadece aracılık edip öğrencinin istediği ürünün ücretini toplamasını sağlıyor ve topladığı zaman ona sadece ürünü teslim ediyor.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading2">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse0">
                                Okurdostu öğrenciye ihtiyacını nasıl teslim ediyor ?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body px-3 mb-4">
                            Öğrencinin oluşturduğu ihtiyaç tamamlandığında, satış sitesinde ki fiyat tamamen toplandığında. Öğrenciden kargo teslimatı için adres isteniyor ve öğrencinin ihtiyacını seçtiği siteden onun adına, onun adresine, onun bilgileri ile sipariş geçiliyor.
                        </div>
                    </div>
                </div>

                @*<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse0">
                                    Oluşturulan ihtiyacın toplam gerektirdiği ücret neye göre ve nasıl hesaplanıyor ?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body px-3 mb-4">
                                Şu anda ihtiyaç oluştururken sadece Pandora Kitabevi'nin kitap kategorisi dahildir ve Pandora.com.tr üzerinden siparişler 200 lira ve üzeri ücretsiz 200 lira ve altındaysa maksimum 15 liralık kargolandırma ücreti vardır.
                                Pandora.com.tr'de ki ürünün iki tane fiyatlandırma şekli olabilir bu indirimli ve indirimsiz fiyat. İndirimli ürünlerde indirimli fiyat baz alınmaz, indirimsizken var olan fiyatı baz alınır.
                                <br /><br />
                                <p>
                                    Örnek 1: Ürün 150 TL, Kargo ücreti sabiti 15 TL, 200 TL ve üzeri ücretsiz kargo <br />
                                    İhtiyacın toplam gerektirdiği miktar = 150 + 15 = 165 TL
                                </p>
                                <p>
                                    Örnek 2: Ürün 200 TL, Kargo ücreti sabiti 15 TL, 200 TL ve üzeri ücretsiz kargo <br />
                                    İhtiyacın toplam gerektirdiği miktar = 200 TL
                                </p>

                                <p>İhtiyacın toplamda ne kadar ödeme gerektirdiğini hesaplama politikası değişebilir.</p>
                            </div>
                        </div>
                    </div>*@

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading4">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                Okurdostunun kendisi mi öğrenciyi destekliyor, bağış yapıyor ?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                        <div class="panel-body px-3 mb-4">
                            Okurdostu öğrenciyi destekliyor ama ona onun ihtiyaçları için bağış yapmıyor.<br />Okurdostu öğrencinin ihtiyaçlarını ilan etmesine ve ihtiyaçlarını insanlara bildirmesine olanak sağlıyor.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading5">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                Onaylanmış veya onaylanmamış eğitim bilgisi nasıl anlaşılır ?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                        <div class="panel-body px-3 mb-4">
                            Eğitim bilgisinde üniversitenin adının yanında eğer ki <i class="od fas fa-check-double"></i> bu işareti görüyorsanız bu eğitim bilgisi sistem tarafından onaylanmış demektir.<br />
                            Eğitim bilgisi çercevesi içinde eğer ki <span class="text-warning"><i class="fas fa-exclamation-circle"></i> Onay bekliyor</span> ifadesini görüyorsanız bu eğitim bilgisi eklenmiş fakat daha onaylanmamış demektir.
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <a class="btn-solid-reg btn-block text-center" href="/beta#Feedback">Okurdostuna soru sor</a>

    </div>
</div>