
@{
    ViewData["Title"] = "KVKK | Okurdostu";
    Layout = "~/Views/Shared/_LayoutIntroduction.cshtml";
}

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>KVKK</h1>
            </div>
        </div>
    </div>
</header>
<div class="ex-basic-2">
    <div class="container">
        <p>
            6698 sayılı Kişisel Verilerin Korunması Kanunu ("KVKK") ve ilgili sair mevzuat uyarınca, Okurdostu.com, kişisel bilgilerinizin aşağıda açıklandığı çerçevede; kaydedileceği, saklanacağı, güncelleneceği, mevzuatın izin verdiği durumlarda üçüncü kişilere açıklanabileceği/aktarılabileceği, sınıflandırılabileceği ve ilgili mevzuatta belirtilen diğer usul ve esaslara göre işlenebileceği hususlarında Okurdostu.com kullanıcılarını bilgilendirmek isteriz.
        </p>

        <p>
            Kişisel veriler; ad, soyad, TC kimlik numarası olmak üzere kimlik, adres ve iletişim bilgileri gibi sizin belirlenmenizi veya belirlenebilir olmanızı sağlayacak her türlü bilgiyi, sizlerin bizimle olan ilişkilerinizde bir akdi ilişki içerisinde olduğu üçüncü kişiler veya ortaklardahil olmak üzere sizin, aracılarınızın, çalışanlarınızın veya bizle olan ilişkiniz çerçevesinde yetkilendirdiğiniz bir şahsın, esas itibariyle ilk adı, soyadı, telefon numaraları, e-posta ve iş adresi olmak üzere irtibat bilgilerine ilişkin şahsi ve/veya özel bilgiler içeren ve kullanımı, işlenmesi veya aktarımı ilgili yasa veya  düzenleme kapsamında "kişisel veri" olarak düzenlenmiş olan irtibat verilerini ifade etmektedir.
        </p>
        <p>
            Kişisel verileriniz; hizmetlerimizin talep edilmesi, hizmetin tesisi ve sunulması, devamlılığı, hizmet sonrası diğer işlemler ve sona ermesi, usulsüzlük, suistimal ve dolandırıcılık gibi durumların önlenmesi ve tespit edilmesi, size daha iyi hizmetler sunabilme ve teknolojik ilerlemeler/iyileştirmeler kapsamında, hizmet ve iş geliştirme amacıyla analiz ve çalışmaların yapılması, başkahizmetler sunulması, taleplerinizi gerçekleştirme, şikayetlerinizi sonuçlandırma ve bilgilendirme, kullanıcıların memnuniyetinin, eğilimlerinin, bağlılığının araştırılması ve ölçülmesi, çekiliş, hediye, teşekkür, kutlama, hatırlatma, Okurdostu.com'nın yaptığı işlemler ve yeniliklerinden haberdar etme faaliyetleri ve bilgilendirmeleri, her türlü kötü niyetli kullanımların önlenmesi ve tespit edilmesi, hizmet ve servislerimiz hakkında bilgi edinmek, satın almak amacıyla kişisel verilerin beyan edilmesi/kaydedilmesi, size daha iyi hizmet sunabilmek için çalışanlarımızı eğitme ve geliştirme, düzenleyici ve denetleyici kurumlar, resmi merciler ile ilgili mevzuatta yer alan yasal yükümlülüklerin yerine getirilmesi ve denetim faaliyetleri amacıyla gerekli bilgilerin paylaşımı, iş ortaklarımız veya sair üçüncü kişilerle birlikte sunulan ürün ve hizmetlere ilişkin sözleşme gereklerinin ve finansal mutabakatın sağlanması, Okurdostu'nun hizmetlerine ilişkin kampanya  ve tekliflerin kullanımınıza göre hazırlanması, sunulması, tanıtımı, hizmetlerimizin içeriği hakkında bilgilendirilmesi amaçlarıyla ve bunlarla sınırlı olmaksızın, elektronik haberleşme hizmetlerinin sunulması, trafik yönetimi, hizmet verilmesi, analiz edilmesi, çağrı merkezi, Okurdostu.com faaliyetleri ve bilgilendirmeleri, strateji, planlama ve iş geliştirme, hizmet kalitesini ölçümlenmesi, finansal raporlama ve analiz, şikayet, yasal takip ve benzeri amaçlarla işlenebilecek; sistemlerde ve arşiv merkezlerinde muhafaza altında tutulabilecektir.
        </p>
        <p>
            I. Yukarıda belirtilen amaçlarla kişisel verilerin aktarılabileceği kişi/kuruluşlar; Okurdostu.com, kişisel verilerinizi ilgili mevzuat çerçevesinde aşağıdaki kişi veya kuruluşlarla paylaşabilecektir:

        </p>
        <p>
            -Kooperatifler Kanunu, 5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun ve ilgili sair mevzuat uyarınca görevli ve yetkili kişi ve tüzel kişiler, – kullanıcı sözleşmeniz kapsamındaki hizmetlerin ifası ve kontrolü amacıyla Okurdostu.com'nın, faaliyetlerini yürütmek üzere hizmet aldığı, işbirliği yaptığı, kişi ve kuruluşlar ile diğer üçüncü kişiler.
        </p>
        <p>
            II. Kişisel verilerin toplanma yöntemi; İnternet sitesi, Okurdostu mobil uygulamaları, sosyal medya mecraları, ortaklık sözleşmeleri ve ekinde sunulan belgeler aracılığıyla kişisel verileriniz sözlü, yazılı veya elektronik ortamda toplanabilir.

        </p>
        <p>
            III.6698 sayılı Kişisel Verilerin Korunması Kanunu uyarınca haklarınız; Okurdostu.com'a başvurmak suretiyle KVKK'nın 11. Maddesi uyarınca haklarınızdan yararlanmak için bilgi ve başvuru taleplerinizi info@okurdostu.com ile bizlere yönlendirebilirsiniz. Bu sayede kişisel verilerinizin;
        </p>
        <p>
            a) işlenip işlenmediğini öğrenme,
        </p>
        <p>
            b) işlenmişse bilgi talep etme,
        </p>
        <p>
            c) işlenme amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme,
        </p>
        <p>
            d) yurt içinde / yurt dışında aktarıldığı 3. kişileri bilme,
        </p>
        <p>
            e) eksik / yanlış işlenmişse düzeltilmesini isteme,
        </p>
        <p>
            f) KVKK'nın 7. maddesinde öngörülen şartlar çerçevesinde silinmesini / yok edilmesini isteme,
        </p>
        <p>
            g) aktarıldığı 3. kişilere yukarıda sayılan (d) ve (e) bentleri uyarınca yapılan işlemlerin bildirilmesini isteme,
        </p>
        <p>
            h) münhasıran otomatik sistemler ile analiz edilmesi nedeniyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,
        </p>
        <p>
            i) kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme hakkına sahipsiniz.
        </p>
    </div>
</div>