@{
    Layout = "~/Views/Shared/_LayoutIntroduction.cshtml";
    ViewData["Title"] = "Gizlilik politikası | Okurdostu";
}
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Gizlilik politikası</h1>
            </div>
        </div>
    </div>
</header>
<div class="ex-basic-2">
    <div class="container">
        <h6>
            Okurdostu.com platformu, ihtiyaç sahibi öğrenci kişiler ile onları destekleyecek kişilerin aynı platformda bir araya gelmesini sağlar. Okurdostu.com, kullanıcıları tarafından verilen bilgilerin nasıl kullanıldığı ve paylaşıldığının kullanıcı veya kayıtlı üyeleri için ne kadar önemli olduğunun sorumluluğu ve bilincinde olup, bilgilerin gizliliğini korumak amacıyla aşağıda belirtilen kuralları benimsemektedir.
        </h6>
        <hr />
        <h6>
            Okurdostu.com, bahsedilen faaliyeti gerçekleştirebilmek adına kayıtlı üyelerin bazı kişisel bilgilerini (adı, soyadı, eğitim bilgisi, telefon numarası, elektronik posta adresi, ihtiyacını teslim etmek için adresi vb.) kullanır ve talep eder.
        </h6>
        <hr />
        <h6>
            Mevcut gizlilik politikamız siz ve hesabınızla ilgili olarak kendi isteğiniz ile sisteme kaydettirdiğiniz bütün bilgiler için geçerlidir, aksi oluştuğu durumunda (sözleşme değişikliği vb.) kullanıcı üyelere bildirim yapılacaktır. Kullanıcı veya kayıtlı üyeler, Okurdostu.com'da bir Kullanıcı profili oluşturarak ve Okurdostu.com'a kendi kişisel bilgileri ile kayıt yaptırarak işbu gizlilik politikasını ve gizlilik sözleşmesini kabul etmiş sayılırlar.
        </h6>
        <hr />

        <h6>
            Kayıtlı üyeler tarafından Okurdostu.com ile paylaşılmış olan kişisel bilgiler sadece bahsedilen faaliyetinin gerçekleştirmek maksadıyla Okurdostu.com'da kullanılır ve ilgili kitap satışı yapan şirketler ile bu bilgileri paylaşılabilir. Bu bilgiler, genel kullanıma açık olmayan güvenli bir ortamda saklanmakta ve sadece Okurdostu.com bünyesinde kullanılmaktadır. Bu bağlamda, kayıtlı üyelere sorularak, onayı alınarak Okurdostu.com kapsamında verdikleri bilgilerin üçüncü kişilere gösterildiğini, bu yolla üçüncü kişilerin erişimine açık olduğunu bilmekte ve kabul etmektedir. (Örnek: ihtiyacın teslim edilmesi gerektiği durumda, kitap satışı yapan şirkete, adı, soyadı telefonu ve adresinin vb. bilgilerini vermek.)
        </h6>
        <hr />

        <h6>
            Okurdostu.com'a girilen bilgilerin güvenliğinin sağlanması için bütün gerekli önlemler üst seviyede alınmıştır. Buna rağmen internet ortamında ki bir şeyin tamamen güvenilir bir hale getirilmesinin çok zor olduğu bilinmeli. Okurdostu.com kayıtlı üyelerinin veya kullanıcılarının siteye verdiği bütün bilgilerin önemini bilir ve onları gizli tutar. Okurdostu.com'a dışarıdan veya içeriden yapılacak yasal olmayan müdahalelerle çalınan bilgilerden dolayı doğan zarar veya benzeri durumlardan, Okurdostu.com sorumlu tutulamaz.
        </h6>
        <hr />

        <h6>
            Okurdostu.com bilerek veya isteyerek, yasal bir yükümlülük altında bulunmadığı sürece kayıtlı üyeye sormadan, onun onayını almadan kesinlikle kayıtlı üyenin bilgilerini üçüncü şahıslar, kuruluşlarla ve kurumlarla paylaşmayacaktır.
        </h6>
        <hr />

        <h6>
            Okurdostu.com, alınan kişisel bilgileri sadece yasal yükümlülük durumunda, gerekli yetkiler çerçevesinde devlet kurum ve kuruluşları ile paylaşabilir. Yasal bir yükümlülük altında bulunmadığı sürece aklınıza gelebilecek herhangi bir sebeple kullanıcılarının kişisel bilgilerini paylaşmayacaktır.
        </h6>
        <hr />

        <h6>
            Okurdostu.com, şu anda beta (deneme sürümü) sürecindedir, kurumsallaşma öncesi beta için düzenlenen bu sözleşme kısmı veya tamamen değişebilir, eğer ki bir değişiklik yapılırsa bu değişiklik bütün var olan kullanıcılara elektronik posta veya telefon numarası yolu ile bildirilecektir ve tekrardan onay istenecektir.
        </h6>
        <hr />

        <h6>
            Okurdostu.com'un geliştirilmesi amacıyla başka şirketlerle kurulan ticari veya ticari olmayan ilişkilerde bu Gizlilik Sözleşmesine uymaları sağlanacaktır.
        </h6>
        <hr />

        <h6>
            Okurdostu.comda var olan Okurdostu.com dışına yönlendiren internet bağlantı adreslerinde bu Gizlilik Sözleşmesi geçerli değildir.
        </h6>
        <hr />

        <h6>
            Okurdostu.com, kayıtlı üyelerin Okurdostu.com ile paylaştığı bilgileri yine aynı şekilde Okurdostu.com'da yapılan güncelleme bilgilendirme ve benzeri durumlarda kullanılabilecektir.
        </h6>
        <hr />

        <h6>
            Ek olarak burada bahsedilen konular dışında bir konuda bilgi alınmak isteniyorsa, info@okurdostu.com adresinden ulaşabilirsiniz.
        </h6>
        <hr />
    </div>
</div>