
@{
    ViewData["Title"] = "Kullanıcı sözleşmesi | Okurdostu";
    Layout = "~/Views/Shared/_LayoutIntroduction.cshtml";
}

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Kullanıcı sözleşmesi</h1>
            </div>
        </div>
    </div>
</header>
<div class="ex-basic-2">
    <div class="container">
        İşbu kullanıcı sözleşmesi ve Okurdostu.com'da yer alan kurallar Okurdostu.com tarafından sunulan hizmetlere ilişkin şart ve koşulları ve Okurdostu.com'u kullanılmasına ilişkin kuralları düzenlemektedir.
        <h2>
            Taraflar
        </h2>
        <p>
            İşbu Kullanıcı Sözleşmesi  Okurdostu.com içerisinde yer
            alan sistemden faydalanan Kullanıcı arasında akdedilmektedir,
        </p>
        <p>
            Kullanıcılar, Okurdostu.com Kullanıcı Sözleşmesi'nin Siteye üye olmaları ile birlikte yürürlüğe gireceğini ve bu koşullara uygun davranmakla yükümlü
            olduklarını bilmektedirler.
        </p>
        <p>
            Okurdostu.com ve Kullanıcılar ayrı ayrı "taraf" birlikte ise "taraflar" olarak anılacaklardır.
        </p>
        <h2>
            1. Tanımlar
        </h2>
        <p>
            "Kullanıcı", "Web sitesi kullanıcısı" veya "Üye"; Okurdostu.com'dan yararlanmak üzere Site'yi kullanan kişiyi veya internet kullanıcısını,
            <br />
            "Site"; Okurdostu.com adresi üzerinden hizmet vermekte olan web sitesini ifade eder.
        </p>
        <h2>
            2. Tarafların Hak ve Yükümlülükleri
        </h2>
        <p>
            2.1 Web sitesi kullanıcısı, https://www.okurdostu.com internet sitesine kaydolurken ve ardından profilini düzenleyerek verdiği kişisel ve diğer sair bilgilerin kanunlar önünde doğru olduğunu, Kullanıcının bu bilgilerin gerçeğe aykırılığı nedeniyle uğrayacağı tüm zararları aynen ve derhal tazmin edeceğini beyan ve taahhüt eder.
        </p>
        <p>
            2.2 Web sitesi kullanıcısı, https://www.okurdostu.com kaydolurken oluşturduğu şifreyi başka kişi ya da kuruluşlara veremez, kullanıcının söz konusu şifreyi kullanma hakkı bizzat kendisine aittir. Bu sebeple doğabilecek tüm sorumluluk ile üçüncü kişiler veya yetkili merciler tarafından Okurdostu.com'a karşı ileri sürülebilecek tüm iddia ve taleplere karşı, Okurdostu.com'un söz konusu izinsiz kullanımdan kaynaklanan her türlü tazminat ve sair talep hakkı saklıdır.
        </p>
        <p>
            2.3 Web sitesi kullanıcısı, https://www.okurdostu.com internet sitesini kullanırken yasal mevzuat hükümlerine riayet etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahhüt eder. Aksi takdirde, doğacak tüm hukuki ve cezai yükümlülükler tamamen ve münhasıran üyeyi bağlayacaktır.
        </p>
        <p>
            2.4 Web sitesi kullanıcısı, https://www.okurdostu.com internet sitesini hiçbir şekilde kamu düzenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir amaç için, başkalarının fikri ve telif haklarına tecavüz edecek şekilde kullanamaz. Ayrıca, üye başkalarının hizmetleri kullanmasını önleyici veya zorlaştırıcı faaliyet ve işlemlerde bulunamaz.
        </p>
        <p>
            2.5 https://www.okurdostu.com internet sitesinde üyeler tarafından beyan edilen, yazılan, kullanılan fikir ve düşünceler, tamamen üyelerin kendi kişisel görüşleridir ve görüş sahibini bağlar. Bu görüş ve düşüncelerin Okurdostu.com'la hiçbir ilgi ve bağlantısı yoktur. Okurdostu.com'un üyenin beyan edeceği fikir ve görüşler nedeniyle üçüncü kişilerin uğrayabileceği zararlardan ve üçüncü kişilerin beyan edeceği fikir ve görüşler nedeniyle üyenin uğrayabileceği zararlardan dolayı herhangi bir sorumluluğu bulunmamaktadır.
        </p>
        <p>
            2.6 https://www.okurdostu.com, kullanıcı verilerinin yetkisiz kişilerce okunmasından ve kullanıcı yazılım ve verilerine gelebilecek zararlardan dolayı sorumlu olmayacaktır. Üye, https://www.okurdostu.com internet sitesinin kullanılmasından dolayı uğrayabileceği herhangi bir zarar yüzünden https://www.okurdostu.com dan tazminat talep etmemeyi peşinen kabul etmiştir.
        </p>
        <p>
            2.7 İşbu üyelik sözleşmesi içerisinde sayılan maddelerden bir ya da birkaçını ihlal eden üye işbu ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olup, Okurdostu.com bu ihlallerin hukuki ve cezai sonuçlarından ari tutacaktır. Ayrıca; işbu ihlal nedeniyle, olayın hukuk alanına intikal ettirilmesi halinde, Okurdostu.com'un üyeye karşı üyelik sözleşmesine uyulmamasından dolayı tazminat talebinde bulunma hakkı saklıdır.
        </p>
        <p>
            2.8 Okurdostu.com'un her zaman tek taraflı olarak gerektiğinde üyenin üyeliğini silme, müşteriye ait dosya, belge ve bilgileri silme hakkı vardır. Üye işbu tasarrufu önceden kabul eder. Bu durumda, Okurdostu.com'un hiçbir sorumluluğu yoktur.
        </p>
        <p>
            2.9 Web sitesinin barındığı sunucu şirketi tarafından https://www.okurdostu.com internet sitesinin yasal mevzuat çerçevesinde siteye erişmek için kullanılan İnternet servis sağlayıcısının adı ve Internet Protokol (IP) adresi, Siteye erişilen tarih ve saat, sitede bulunulan sırada erişilen sayfalar ve siteye doğrudan bağlanılmasını sağlayan Web sitesinin Internet adresi gibi birtakım bilgiler toplanabilir.
        </p>
        <p>
            2.10 Okurdostu.com, sitenin içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme yada sona erdirme veya https://www.okurdostu.com web sitesinde kayıtlı kullanıcı bilgi ve verilerini silme hakkını saklı tutar.
        </p>
        <p>
            2.11 Okurdostu.com, üyelik sözleşmesinin kullanıcılara bildirerek değiştirebilir, güncelleyebilir veya iptal edebilir. Değiştirilen, güncellenen yada yürürlükten kaldırılan her hüküm, kullanıcının onayı için bildirim gönderilir.
        </p>
        <p>
            2.12 Okurdostu.com, iş bu üyelik sözleşmesi uyarınca, üyelerinin kendisinde kayıtlı elektronik posta adreslerine bilgilendirme mailleri ve cep telefonlarına bilgilendirme SMS'leri gönderme yetkisine sahip olmakla beraber, üye işbu üyelik sözleşmesini onaylamasıyla beraber bilgilendirme maillerinin elektronik posta adresine ve bilgilendirme SMS'lerinin cep telefonuna gönderilmesini kabul etmiş sayılacaktır.
        </p>

        <h2>
            3. Okurdostu.com ile ilgili koşullar ve kurallar
        </h2>
        <p>
            3.1 Okurdostu.com, kayıtlı kullanıcıların oluşturduğu ihtiyacın kesinlikle karşılanacağının onayını veremez ve Okurdostu.com'dan karşılanması istenemez.
        </p>
        <p>
            3.2 Okurdostu.com, kayıtlı kullanıcılarının oluşturduğu ihtiyaç teslim etme aşamasına geldiğinde, teslim edilecek adres bilgilerini istemeye hakkı vardır.
        </p>
        <p>
            3.3 Okurdostu.com, kayıtlı kullanıcılarının oluşturduğu, kullanıcı, ihtiyaç, eğitim veya benzeri kullanıcıya ait verileri, sebep göstermeksizin gösterimden ve verilerinin arasından kaldırabilir.
        </p>

        <h2>
            4. Sorumluluğun Sınırlandırılması
        </h2>
        <p>
            4.1 Okurdostu.com, Site'ye girilmesi, Site'nin ya da Site'deki bilgilerin ve diğer verilerin programların vs. kullanılması sebebiyle, Sözleşme'nin ihlali, haksız fiil, ya da başkaca sebeplere binaen, ağır kusuru dışında doğabilecek doğrudan ya da dolaylı hiçbir zarardan sorumlu değildir. Okurdostu.com, Sözleşme'nin ihlali, haksız fiil, ihmal veya diğer sebepler neticesinde; işlemin kesintiye uğraması, hata, ihmal, verilerin silinmesi, kaybı, işlemin veya iletişimin gecikmesi, bilgisayar virüsü, iletişim hatası, hırsızlık, imha veya izinsiz olarak kayıtlara girilmesi, kayıtların değiştirilmesi veya kullanılması hususunda herhangi bir sorumluluk kabul etmez. Site'ye ya da link verilen sitelere girilmesi ya da Site'nin kullanılması ile Okurdostu.com'nin kullanım/ziyaret sonucunda, doğabilecek her tür sorumluluktan, mahkeme ve diğer masraflar da dahil olmak üzere her tür zarar ve talep hakkından beri kılındığı kabul edilmektedir.
        </p>
        <p>
            4.2 Kullanıcı, Site'de paylaştığı her türlü bilgi ve içerikten münhasıran sorumlu olup, bu bilgilere ilişkin olarak ortaya çıkan her türlü talep ve zarar Kullanıcı'ya iletilecek yahut rücu edilecektir. Kullanıcı, Okurdostu.com'un diğer Kullanıcılar tarafından sağlanan bilgiler de dahil olmak üzere Site üzerinden paylaşılan hiçbir bilginin gerçekliğini, orijinalliğini, güvenliğini, doğruluğunu araştırma, bunların paylaşılmasının hukuka uygun olup olmadığını tespit etme sorumluluğu bulunmadığını, Kullanıcı'ya ait bilgilerin hukuka uygun olarak üçüncü kişiler tarafından Site'de veya sair mecralarda paylaşılabileceğini, söz konusu bilgiler sebebiyle ortaya çıkabilecek zararlardan dolayı Okurdostu.com'un sorumluluğu bulunmadığını kabul, beyan ve beyan taahhüt eder.
        </p>
        <p>
            4.3 Kullanıcı, Site üzerinden Okurdostu.com'un kontrolünde olmayan başka internet sitelerine ve/veya platformlara, dosyalara veya içeriklere link verilebileceğini, üçüncü taraflara ait hizmetlerin sunulabileceği ve bu tür linklerin yöneldiği internet sitesini veya işleten/hizmeti veren kişiyi desteklemek amacıyla veya internet sitesi veya içerdiği bilgilere yönelik herhangi bir türde bir beyan veya garanti niteliği taşımadığını, söz konusu linkler vasıtasıyla erişilen platformlar, internet siteleri, dosyalar ve içerikler, hizmetler veya ürünler veya bunların içeriği hakkında Okurdostu.com'in herhangi bir sorumluluğu olmadığını kabul, beyan ve beyan taahhüt eder.
        </p>
        <p>
            4.4 Kullanıcı, site Site ve Platform'un kullanımı sayesinde gerçekleştirilen ihtiyaçlara ilişkin olarak Okurdostu.com hangi ham altında olursa olsun herhangi bir şekilde talepte bulunmayacağını, herhangi bir Kullanıcı'nın site üzerinde hesap açmış olmasının, (var ise) Kullanıcı'ya ilişkin yorumların Okurdostu.com'nin Kullanıcı'yı onayladığı, önerdiği, garanti verdiği ve desteklediği şeklinde yorumlanamayacağını kabul, beyan ve taahhüt eder. Okurdostu.com, uygulanacak hukukun izin verdiği ölçüde, kar kaybı, şerefiye ve itibar kaybı, dahil ancak bunlarla sınırlı olmaksızın Site'nin kullanımı neticesinde meydana gelen hiçbir doğrudan, dolaylı, özel, arızı, cezai zarardan sorumlu olmayacaktır. Site ve site kapsamındaki özellikler ve sair içerikler "olduğu gibi" sunulmakta olup, bu kapsamda Okurdostu.com'un bunların doğruluğu, tamlığı ve güvenilirliği ile ilgili herhangi bir sorumluluk ya da taahhüdü bulunmamaktadır. Okurdostu.com, işbu sözleşme kapsamında ihtiyaca elverişlilik, belli bir amaca veya kullanıma uygunluk veya ihlalin söz konusu olmamasına ilişkin olarak açık veya zımni herhangi bir taahhütte bulunmamaktadır.
        </p>
        <p>
            4.5 Kullanıcı, Site ve Site üzerinden sunulan içeriklere erişim ve bunların kalitesinin büyük ölçüde ilgili internet servis sağlayıcısından temin edilen hizmetin kalitesine dayandığını ve söz konusu hizmet kalitesinden kaynaklı sorunlarda Okurdostu.com'nin herhangi bir sorumluluğunun bulunmadığını, Site'nin işleyişinin kusurdan ari olmadığını ve zaman zaman teknik aksaklıklar veya erişim engelleriyle karşılaşabileceğini bildiğini kabul,ve beyan ve taahhüt eder.
        </p>
        <p>
            4.6 Kullanıcı, Okurdostu.com'nin virüs, solucan (worm) veya başka türlü saldırıların ve izinsiz erişimlerin olmayacağını veya Site'den yahut Site'ye bilgi aktarılmayacağını garanti etmediğini bildiğini kabul etmektedir.
        </p>
        <h2>
            4. Kişisel Verilerin Korunması
        </h2>
        <p>
            Okurdostu.com, 6698 sayılı Kişisel Verilerin Korunması Kanunu kapsamında belirlenen veri işleme ve aktarım esaslarına uyacağını, Kullanıcı'nın kişisel verilerinin işlenmesini gerektiren sebeplerin ortadan kalkması halinde ilgili verileri sileceğini, yok edeceğini veya anonim hale getireceğini kabul, beyan ve taahhüt eder. Kişisel verilerin korunmasına ve işlenmesine ilişkin detaylı bilgilendirme işbu sözleşmenin ayrılmaz bir parçası olarak Okurdostu.com'da yer almaktadır. Bu nedenle Kullanıcı, kişisel verilerinin Okurdostu.com tarafından kullanılması, işlenmesi bakımından gerekli bilgilendirmenin kendisine yapıldığını, bu hususta yeteri kadar aydınlatıldığını kabul, beyan ve taahhüt eder.

        </p>
        <h2>
            5. Yürürlük
        </h2>
        <p>
            İşbu Sözleşme ve Sözleşme'nin ayrılmaz bir parçası olan Gizlilik Politikası ile Site içinde bildirilen diğer tüm Sözleşme/ler Kullanıcı tarafından işbu Sözleşme'nin kaydolma ekranında yapılan uyarı ile birlikte sisteme üye olmak için Kaydol seçeneğine basmasıyla birlikte okumuş ve kabul etmiş sayılarak karşılıklı olarak kabul edilerek yürürlüğe girer.
        </p>
        <h2>
            6. Uyuşmazlıkların Çözümü ve Yetki Sözleşmesi
        </h2>
        <p>
            6.1 Bu Sözleşme ile ilgili olarak çıkabilecek bütün uyuşmazlıklarda öncelikle işbu metinde yer alan hükümler, hüküm bulunmayan konularda ise Türkiye Cumhuriyeti Kanunları uygulanacaktır. Sözleşme'nin uygulanmasından kaynaklanan ihtilafların çözümünde Ankara Mahkemeleri ve İcra Daireleri yetkili olacaktır.
        </p>
        <p>
            6.2 İşbu sözleşmenin uygulanmasından çıkabilecek uyuşmazlıklarda 6100 sayılı Hukuk Muhakemeleri Kanunu'nun 193. Maddesi uyarınca Okurdostu.com'nin her türlü defter, bilgi, belge ve kayıtları kesin delil niteliğinde olacak olup, işbu madde delil sözleşmesi niteliği haizdir.
        </p>
    </div>
</div>