@model Okurdostu.Data.Model.User
@{
    ViewData["Title"] = "Parola sıfırlama"; ViewData["AppMenu"] = "Hide"; Layout = "~/Views/Shared/_LayoutOkurdostu.cshtml";
}
<h5 class="text-black-50 text-center text-md-left">Okurdostu hesabınızı bulduk</h5>
@if (TempData["IdentificationType"]?.ToString() == "Username")
{
    <partial name="~/Views/AccountUnAuth/_PartialProfile.cshtml" model="@Model" />
}
@if (TempData["IdentificationType"]?.ToString() == "Email")
{
    <p class="font-weight-bold text-black-50 mt-2">
        E-mail: @Model.Email<br />
    </p>
}
else
{
    <p class="font-weight-bold text-black-50 mt-2">
        E-mail: @Model.Email.StarsToEmail()
    </p>
}
<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
@using (Html.BeginForm("SendPasswordResetKey", "AccountUnAuth", FormMethod.Post))
{
    <div class="form-group">
        <label class="font-weight-bold text-black-50 mb-0">
            E-mail adresime parola sıfırlama isteği
            <input type="submit" value="Gönder" class="p-3 btn-purple rounded-custom font-weight-bold" />
        </label>
    </div>
}

