@model Okurdostu.Web.Controllers.AccountUnAuthController.PasswordResetModel
@{
    ViewData["Title"] = "Parola sıfırlama"; ViewData["AppMenu"] = "Hide"; Layout = "~/Views/Shared/_LayoutOkurdostu.cshtml";
}
@if (TempData["PasswordResetMessage"] != null)
{
    <h5 class="font-weight-bold text-danger">@TempData["PasswordResetMessage"].ToString()</h5>
}
else
{
    <h3 class="text-black-50 text-center text-md-left">Parola sıfırlama</h3>
}
<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
@using (Html.BeginForm("PasswordResetPost", "AccountUnAuth", FormMethod.Post))
{
    <div class="form-horizontal">
        <p class="text-black-50 font-weight-bold">Okurdostu hesabını bul</p>
        <p class="text-black-50 font-weight-bold" style="font-size:11.8px">Kullanıcı adı, e-mail veya telefon numaranı gir</p>
        <div class="form-group">
            <div>
                <input class="form-control font-weight-bold" autocomplete="off" placeholder="Kullanıcı adı, e-mail, telefon numarası" asp-for="IdentificationValue" />
                @Html.ValidationMessageFor(model => model.IdentificationValue, "", new { @class = "text-danger font-weight-bold" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Kullanıcı hesabını ara" class="btn btn-outline-purple rounded-custom font-weight-bold" />
        </div>
    </div>
}