@page "{guid:Guid}"
@model Okurdostu.Web.Pages.Account.PasswordReset.ChangePasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Parola değiştirme"; ViewData["AppMenu"] = "Hide"; Layout = "~/Views/Shared/_LayoutOkurdostu.cshtml";
}
@if (TempData["ChangePasswordMessage"] != null)
{<h5 class="font-weight-bold text-danger">@Html.Raw(TempData["ChangePasswordMessage"].ToString())</h5>
}
else
{<h3 class="text-black-50 text-center text-md-left">Parolanızı değiştirin</h3>}
<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml">
    <form method="post">
        <div class="form-horizontal">
            <span class="ml-1 font-weight-bold text-black-50">Yeni parola</span><br />
            <div class="form-group w-75">
                <div class="input-group">
                    <div class="input-group-prepend rounded-custom">
                        <span class="input-group-text pl-0 pr-1" style="background-color:transparent; border-color:transparent;" id="basic-addon1">
                            <a href="" class="font-weight-bold text-black-50" id="show_hide_password"><i id="eye" class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <input asp-for="Input.Password" class="form-control font-weight-bold text-black-50" placeholder="Yeni parola" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger font-weight-bold"></span>
            </div>
            <div class="form-group w-75"> <input type="submit" value="Parolamı değiştir" class="btn btn-block btn-outline-purple rounded-custom font-weight-bold" /> </div>
        </div>
    </form>

    <script>
        $(document).ready(function () {
            $("#show_hide_password").on('click', function (event) {
                event.preventDefault();
                if ($('#Input_Password').attr("type") == "text") {
                    $('#Input_Password').attr('type', 'password');
                    $('#eye').addClass("fa-eye-slash");
                    $('#eye').removeClass("fa-eye");
                } else if ($('#Input_Password').attr("type") == "password") {
                    $('#Input_Password').attr('type', 'text');
                    $('#eye').removeClass("fa-eye-slash");
                    $('#eye').addClass("fa-eye");
                }
            });
        });
    </script>
