<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" style="background: transparent;">
        <div class="modal-body bg-light" style="border-radius: 25px;">
            @RenderBody()
        </div>
    </div>
</div>